<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Costa Rica Weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Visit the...</h1>
      <p>Beach. Rainforest. Volcano. Tree House. Sloths.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <img src="{{ mars.featured_img  }}" alt="featured image">
    <!-- <h2>The typical weather in Costa Rica is:</h2> -->
    <div>
      {% for i in mars.hemispheres %}
        {% for k,v in i.items() %}
      <!-- <h1>Key: {{key}}</h1> -->
        {% if k == 'title' %}
         <h2>{{ v }}</h2>
        {% endif%}
        {%if k == 'img_url'%}
        <img src="{{v}}" alt="mars image {{v}}">
        {% endif %}
    {% endfor %}
    {% endfor %}
    </div> 

  </div>
  </div>
</body>

</html>
