<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars | Web Scraping Challenge</title>
  <link rel ="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <style>
    .jumbotron {
      background-color: #f2f2f2;
      margin: 0 auto;
      padding: 30px;
    }
    table {
      max-width: 100%;
    }
    table, th, td {
        border-collapse: collapse;
        border: solid 2px black;
      }
    table tr:nth-child(even){
      background-color: #f2f2f2;
    }

    /* div#table {
      float: left;
      max-width: 50%;

    } */
    #featuredImage img {
  
      max-width: 100%;
    }

    div {
      padding: 5px;
    }

  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
  </div>
<!-- </div> -->
    <div class="row">
      <div class="col-md-12">
      <h2>Latest Mars News</h2>
      <h4>{{ mars.news_titles[0] }}</h4>
      <p>{{ mars.article[0] }}</p>
      </div>
    </div>

    <div class="row">
      <div id="featuredImage" class="col-md-6">
        <h2>Featured Mars Image</h2>
        <img src="{{ mars.featured_img }}" alt="featured image">
      </div>
      <div id="table" class="col-md-6">
        <h3>Mars Facts</h3>
        {{ mars.table | safe }}
      </div>
    </div>

    <div class="row">
      {% for i in mars.hemispheres %}
      <div class="col-md-3">
        {% for k,v in i.items() %}
        <div class="card" style="width: 18rem;">

          {%if k == 'img_url'%}
          <img class="card-img-top" src="{{v}}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
            {% if k == 'title' %}
            <h5 class="card-title">{{v}}</h5>
            {% endif %}

          </div>

        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</html>
